.movie {
  width: 96%;
  border-radius: 5px;
  background-color: rgba(253, 253, 253, 1);
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: auto 2% auto 2%; 
}

.movie__image {
  width: 100%;
  object-fit: cover;
}

.movie__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
  margin: 0;
  margin: 16px 0 0 16px;
  padding: 0;
}

.movie__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #a0a0a0;
  margin: 14px 0 16px 16px;
}

.movie__like-button {
  width: 30px;
  height: 30px;
  display: flex;
  background-image: url(../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: inherit;
  padding: 0;
}

.movie__like-button_active {
 
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 9px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: inherit;
}

.movies-card {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 80px 70px 0 70px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies-card {
    grid-template-columns: repeat(1, 1fr);
    margin: 40px 10px 0 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movies-card {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .movies-card {
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.movie__like-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-right: 16px;
}

.movie__like-button_active {
  background-image: url(../../images/like-active.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  background-position: center;
}

.movie__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}