.portfolio__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 0 0 50px 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio__name {
    font-size: 14px;
  }
}

.portfolio {
  margin: 0 70px 0 70px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .portfolio {
    margin: 0 50px 0 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio {
    margin: 0 18px 0 18px;
  }
}

.portfolio__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0 0 19px 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .portfolio__text {
    font-size: 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio__text {
    font-size: 18px;
    line-height: 28px;
  }
}

.portfolio__arrow {
  background-image: url(../../images/link-arrow.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  margin-right: 6px;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out 0.1s;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}
