
.popup{
  background-color: rgba(0,0,0,.5);
  height: 100%;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  visibility: hidden;
}

.popup:active {
  visibility:visible;
}

.popup__menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  background-color: #FFF;
  position: relative;
  margin-left: auto;
  width: 520px;
  height: 100%;
  padding: 159px auto 92px auto;
}

.popup__links {
  display: flex;
  flex-direction: column;
  align-items:center ;
}

.popup__button-close {
  border: none;
  background-image: url(../../images/delete.svg);
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;background-color: #FFF;
  margin-left: 467px;
  margin-top: 23px;
  margin-bottom: 105px;
}

@media screen and (max-width: 520px) {
  .popup__menu {
    width: 100%;
  }
}