.search {
  margin: 80px 70px 0 70px;
  width: 1140px;
  display: flex;
  flex-direction:row;
  padding: 0 px 25px 0 25px;
}

.search__container {
  position: relative;
  width: 100%;
  align-items: center;
  border:none;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 69px;
  min-height: 72px;
}

.search__form {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  height: 72px;
  padding-left: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search__box-input{
  display: flex;
  flex-direction: row;
}

.search__icon {
  background-image: url(../../images/icon-find.svg);
  min-width: 34px;
  min-height: 34px;
  background-repeat: no-repeat;
  margin-top: 14px;
  margin-left: 13px;
}
.search__button-container {
  border-right: 1px solid #CBCBCB;
  padding-right: 19px;
}
.search__button {
  background-image: url(../../images/find.svg);
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  top: 9px;
  left: 891px;
  cursor: pointer;
  transition: opacity 0.3s linear 0.1s;
  border: none;
  padding: 0;
  background-color: inherit;
}

.search__button:hover {
  opacity: 0.7;
}

.search__input {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  border: none;
}


@media screen and (max-width: 767px) {
  .search {
    margin: 60px 2% 0 2%;
    max-width: 96%;
  }

  .search__box{
    min-height: 72px;
  }

  .search__button-container {
    border: none;
  }

  .search__container { 
    padding-bottom: 109px;
  }

}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .search__button {
    left: 265px;
  }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
  .search__button {
    left: 335px;
  }
}

@media screen and (min-width: 501px) and (max-width: 660px) {
  .search__button {
    left: 435px;
  }
}

@media screen and (min-width: 661px) and (max-width: 767px) {
  .search__button {
    left: 585px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search__form {
    flex-direction: column;
    align-items: center;
    gap: 38px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1260px) {
  .search {
    margin: 60px 2% 0 2%;
    max-width: 96%;
  }

  .search__form {
    flex-direction: raw;
    align-items: center;
    gap: 38px;
  }

  .search__input {
    max-width: 708px;
  }

  .search__button {
    left: 690px;
  }
}