.saved-movies__container {
  display: flex;
  gap: 20px;
  margin: 70px 70px 210px 70px;
  width: 870px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .saved-movies__container {
    width: 678px;
    grid-template-columns: repeat(2, 1fr);
    margin: 70px 30px 210px 30px;
    gap: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .saved-movies__container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin: 50px 10px 210px 10px;
    gap: 34px;
  }
}
.movie__button-delete {
  background-image: url(../../images/delete.svg);
  background-repeat: no-repeat;
  width: 9px;
  height: 9px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out 0.1s;
  padding: 0;
  margin-right: 20px;
  margin-top: 2px;
}

.movie__button-delete:hover {
  opacity: 0.7;
}