.about {
  margin: 0 70px 0 70px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about {
    margin: 0 50px 0 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about {
    margin: 0 18px 0 18px;
  }
}

.about__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid black;
  padding-bottom: 23px;
  padding-top: 117px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__title {
    font-size: 18px;
  }
}

.about__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__subtitle {
    font-size: 18px;
  }
}

.about__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 26px 0 110px 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__text {
    margin: 16px 0 0 0;
    font-size: 11px;
  }
}

.about__part {
  color: #a0a0a0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 13px 10px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__part {
    font-size: 11px;
  }
}

.about__information {
  display: flex;
  gap: 33px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__information {
    display: flex;
    flex-direction: column;
  }
}

.about__container {
  margin: 70px 0 0 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__container {
    margin: 60px 0 0 0;
  }
}

.about__text_margin {
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__text_margin {
    margin-top: 60px;
  }
}

.about__text_black {
  width: 225px;
  background: black;
  color: white;
  text-align: center;
  padding: 8px 0 8px 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__text_black {
    width: 100px;
  }
}

.about__text_grey {
  background: #f2f2f2;
  text-align: center;
  padding: 8px 15px 8px 0;
}

.about__grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.about__one {
  text-align: center;
}