.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__container {
  margin-top: 70px;
  margin-right: 175px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .auth__container {
    margin: 56px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.logo_auth {
  margin: 0;
}

.auth__info {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.auth__welcome {
  font-family: 'Inter';

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 20px 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .auth__welcome {
    margin: 60px 0 70px 0;
  }
}

.auth__input {
  font-family: 'Inter', sans-serif;
  width: 396px;
  height: 46px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: #f9f9f9;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 0 0 15px;
}

.auth__validaton-message {
  margin-top: 5px;
  color: red;
  font-size: 10px;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .auth__input {
    width: 260px;
  }
}

fieldset {
  border: 0 none;
}

.auth__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin: 3px 0 10px 0;
  color: #a0a0a0;
}

.auth__submit-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 396px;
  height: 45px;
  margin-top: 91px;
  background: #000000;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.3s linear 0.1s;
  color: #ffffff;
}

.auth__submit-button:hover {
  opacity: 0.7;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .auth__submit-button {
    margin: 157px 0 0 0;
    width: 260px;
    font-size: 12px;
  }
}

.auth__text {
  font-family: 'Inter';

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .auth__text {
    margin: 14px 0 30px 0;
    font-size: 12px;
  }
}

.auth__link {
  color: #000000;
  text-decoration: none;
  transition: opacity 0.3s linear 0.1s;
}

.auth__link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .auth__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}