.footer__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  border-bottom: 1px solid #e8e8e8;
  padding: 160px 0 20px 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__title {
    font-size: 12px;
    line-height: 15px;
    padding: 109px 0 20px 0;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #000000;
  text-decoration: none;
  margin: 10px 0 20px 3px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__text {
    margin: 30px 0 15px 0;
    font-size: 12px;
    line-height: 15px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 15px 0 0 0;
  }
}

.footer__information {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__information {
    flex-direction: column;
    align-items: center;
  }
}

.footer {
  margin: 0 70px 0 70px;
  max-width: 100%;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    margin: 0 30px 0 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    margin: 0 10px 0 10px;
  }
}

.footer__text_left {
  margin: 10px 0 20px 20px;
  transition: opacity 0.3s ease-in-out 0.1s;
}

.footer__text_left:hover {
  opacity: 0.7;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__text_left {
    margin: 15px 0 0 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__text_color {
    color: #a0a0a0;
  }
}