.techs__title {
  border-bottom: 1px solid black;
  padding-bottom: 23px;
  margin-top: 108px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-top: 100px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .techs__subtitle {
    font-size: 18px;
  }
}

.techs {
  background: #f2f2f2;
  padding: 0 70px 100px 70px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .techs {
    padding: 0 50px 90px 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .techs {
    padding: 0 18px 70px 18px;
  }
}

.techs__main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__subtitle {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 90px 0 26px 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .techs__subtitle {
    font-size: 30px;
  }
}

.techs__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  margin: 0 0 100px 0;
  width: 460px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .techs__text {
    font-size: 11px;
    width: 292px;
  }
}

.techs__container {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .techs__container {
    flex-wrap: wrap;
    width: 200px;
  }
}

.techs__technology {
  width: 90px;
  height: 20px;
  background-color: #e8e8e8;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  border-radius: 10px;
  margin: 0;
  padding: 20px 0 20px 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .techs__technology {
    margin-bottom: 10px;
  }
}
