.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 410px;
  margin: 0 auto;
  padding: 74px 0 70px;
  box-sizing: border-box;
  height: 89vh;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 170px 0 0 0;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    max-width: 260px;
  }
}

.profile__container {
  display: flex;
  flex-direction: column;
}

.profile__header {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 auto 123px;
}

@media screen and (max-width: 450px) {
  .profile__header {
    margin: 70px auto 81px;
  }
}

.profile__field {
  display: flex;
  justify-content: space-between;
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  align-self: start;
  width: 205px;
  padding-left: 5px;
}

@media screen and (max-width: 450px) {
  .profile__label {
    width: 130px;
  }
}

.profile__input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 205px;
  text-align: right;
  padding: 0 6px 0 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

@media screen and (max-width: 450px) {
  .profile__input {
    width: 130px;
  }
}

.profile__border {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  margin: 16px auto 18px;
}

.profile__text {
  font-size: 10px;
  line-height: 12px;
  margin: 25px 0;
}

.profile__text_red {
  color: #ff4062;
}

.profile__button {
  background-color: transparent;
  border: none;
  font-size: 13px;
  transition: opacity 0.4s linear;
  cursor: pointer;
  font-weight: 400;
  line-height: 16px;
}

.profile__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 450px) {
  .profile__button {
    font-size: 12px;
  }
}

.profile__button_disabled {
  color: #8b8b8b;
  cursor: auto;
}

.profile__button_disabled:hover {
  opacity: 1;
}

.profile__button-exit {
  color: #ff4062;
  margin-top: 15px;
}