.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error__404 {
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  margin: 246px 0 5px 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .error__404 {
    font-size: 80px;
    line-height: 97px;
  }
}

.error__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .error__text {
    font-size: 12px;
    line-height: 15px;
  }
}

.error__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 184px 0 60px 0;
  width: 42px;
  text-decoration: none;
  color: black;
  transition: opacity 0.3s ease-in-out 0.1s;
}

.error__button:hover {
  opacity: 0.7;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .error__button {
    font-size: 12px;
    line-height: 15px;
    width: 36px;
  }
}
